body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: "Outfit", sans-serif;
}


.container {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 20vh;
}

.card {
    background-color: white;
    border: 1px solid white;
    padding: 8px;
    border-radius: 20px;
}

img {
    width: 100%;
    border-radius: 10px;
    height: 250px;
}

.firstText {
    font-weight: 700;
    text-align: center;
}

.SecondText {
    font-weight: 400;
    text-align: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}