body {
    background-color: hsl(212, 45%, 89%);
    /* font-size: 15px; */
    font-family: "Outfit", Arial;
}


/* .container {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 20vh;
} */

.card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20vh;
    max-width: 250px;
    background-color: white;
    border: 1px solid white;
    padding: 8px;
    border-radius: 20px;
}

img {
    width: 100%;
    border-radius: 10px;
    height: 250px;
}

.firstText {
    font-weight: 700;
    text-align: center;
    font-size: 10px;
}

.SecondText {
    font-weight: 400;
    text-align: center;
}

footer {
    position: fixed;
    /* right: 0; */
    bottom: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}